{% extends "base.html" %}
{% block title %} Ajouter un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une nouvelle(s) boisson(s)
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.Marque_wtf.label }}<br>
						{{ form.Marque_wtf(size=32) }}<br>
						{% for error in form.Marque_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.Prix_boisson_wtf.label }}<br>
						{{ form.Prix_boisson_wtf(size=32 ) }}<br>
						{% for error in form.Prix_boisson_wtf.errors %}

							<span style="color: red;" >[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.Quantite_boisson_wtf.label }}<br>
						{{ form.Quantite_boisson_wtf(size=32) }}<br>
						{% for error in form.Quantite_boisson_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.Date_achat_boisson_wtf.label }}<br>
						{{ form.Date_achat_boisson_wtf(type="date",size=32) }}<br>
						{% for error in form.Date_achat_boisson_wtf.errors %}

							<span style="color: red;">[{{ error }}]</span>

						{% endfor %}
					</p>
					<p>
						{{ form.Date_peremption_boisson_wtf.label }}<br>
						{{ form.Date_peremption_boisson_wtf(type="date",size=32) }}<br>
						{% for error in form.Date_peremption_boisson_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

